body {
  background-color: rgb(69, 69, 69);
  background-image: url("images/track.png");
}

img {
  height: 100px;
  width: auto;
  transition-duration: 0.3s;
  transition-property: transform;
  position: absolute;
  left: 5px;
  top: 5px;
}

.north {
  transform: rotate(-90deg);
}

.east {
  transform: rotate(0deg);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}
